<%- include('./partials/header.ejs') %>

<section class="faq-form edit">

    <h2>Edit a FAQ</h2>

    <form class="delete" action="/<%=faq.id%>?_method=DELETE" method="POST"><button>Delete</button></form>

    <form action="/<%=faq.id%>?_method=PATCH" method="POST">
        <div class="input-container">
            <label for="form-title">Question:</label>
            <textarea class="form-title edit" name="title" id="form-title" type="text"
                rows="1"><%= faq.title %> </textarea>
        </div>
        <div class="input-container">
            <label for="form-text">Answer:</label>
            <textarea class="form-text edit" name="text" id="form-text" cols="30" rows="1"> <%= faq.text %> </textarea>
        </div>
        <button>Submit</button>
    </form>

</section>

<%- include ('./partials/footer.ejs') %>